* {
  font-family: "Nunito Sans";
}
body {
  margin: 0;
  padding: 0;
  background-color: hsl(207, 26%, 17%);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
  /* margin: 1rem 2rem 0rem; */
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
}
.item-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.item {
  width: fit-content;
  /* min-height: 13rem; */
  color: white;
  background-color: hsl(209, 23%, 22%);
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.country-flag {
  width: 10rem;
  height: 7rem;
  display: flex;
}
.country-title {
  padding-left: 1rem;
  font-size: 22px;
}
.country-population,
.country-capital {
  padding-left: 1rem;
}
