* {
  font-family: "Nunito Sans";
}
body {
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 98%);
}
nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  background-color: #fff;
  flex-direction: row;
  height: 2rem;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  align-items: center;
}
.darkmode-button {
  /* margin-right: 5rem; */
  border: none;
}
.query-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* margin: 1rem 2rem 0rem; */
}
.input-search {
  width: 20rem;
  height: 2rem;
  border: none;
  color: hsl(0, 0%, 52%);
  box-shadow: 1px 1px 1000px gray;
  border: none;
  outline: none;

  padding: 0.7rem 2rem;
}

::placeholder {
  opacity: 80%;
}
.main {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
}
.item-container {
  display: grid;
  justify-content: center;
  align-self: center;
  grid-template-columns: repeat(4, 0.75fr);
  gap: 2rem;
  margin-bottom: 2rem;
}

.item {
  max-width: min-content;
  max-height: auto;
  color: white;
  background-color: hsl(209, 23%, 22%);
  transition: 0.4s;
  padding-bottom: 1rem;
}
.item:hover {
  cursor: pointer;
  transform: scale(110%);
  box-shadow: 5px 5px 40px black;
}

.country-title {
  padding-left: 1rem;
  font-size: 22px;
  padding-right: 0rem;
}
.country-population,
.country-region,
.country-capital {
  padding-left: 1rem;
}
.darkMode {
  background-color: hsl(207, 26%, 17%);
}
/* detailed view : */
/* all have -detailed at end to original classnames */
.item-detailed {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
}
.back-button {
  width: max-content;
  margin: 1rem;
  margin-left: 0;
  padding: 0.3rem 2rem;
}

@media (-width: 768px) {
  .item-container {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;

    margin-bottom: 2rem;
  }
}
@media (max-width: 1100px) {
  .item-container {
    display: grid;
    justify-content: center;
    align-self: center;
    grid-template-columns: repeat(2, 0.75fr);
    gap: 2rem;
    margin-bottom: 2rem;
  }
}
